body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

table {
    width: 80vh;
    height: 80vh;
    border-spacing: 15px;
    cursor: pointer;
}

tr, td {
    background-color: blanchedalmond;
    border-radius: 15px;
    font-size: 70px;
    opacity: 0.8;
    position: relative;
}

.fa-xmark,.fa-o {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
